# ==========================================
# MOB App - Public Client Configuration
# ==========================================

EXPO_PUBLIC_APP_NAME=MOB
EXPO_PUBLIC_DEFAULT_CURRENCY=INR
EXPO_PUBLIC_GPAY_PACKAGE=com.google.android.apps.nbu.paisa.user
EXPO_PUBLIC_APP_ENV=development
